@import "styles/assets/mixins";

#root {
  height: 100%;
  min-height: 100dvh;
  background: linear-gradient(0deg, #1CB5E0 20%, #050b45 100%) no-repeat;
}

* {
  box-sizing: border-box;
}

:root,
.App {
  text-align: center;

  @keyframes anvil {
    0% {
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
      opacity: 0;
      transform: scale(1) translateY(0px);
    }

    1% {
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
      opacity: 0;
      transform: scale(0.96) translateY(10px);
    }

    100% {
      box-shadow: 0 0 500px rgba(241, 241, 241, 0);
      opacity: 1;
      transform: scale(1) translateY(0px);
    }
  }

  .popup-content {
    width: auto;
    max-width: 95%;
    -moz-transition: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -ms-transition: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -o-transition: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    transition: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  }

}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.container {
  width: 1370px;
  max-width: 1370px;
  margin: 0 auto;
  padding-top: 50px;

  @include mobile{
    width: 100%;
    max-width: 100%;
  }

  @include tablet {
    width: 100%;
    max-width: 100%;
  }
}